body{
    margin: 0;
    background-color: rgb(29, 29, 29);
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
}


#side{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(148, 148, 148, 0.151);
    position: fixed;
    height: 94.5%;
    width: 3.5vw;
    left: 0.5vw;
    top: 0.7vh;
    border-radius: 3vh;
    background-color: rgba(48, 48, 48, 0.322);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.267);
    padding: 2vh 0; 
    

}

#logo-container{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 22.7vh;

}

#logo{
    width: 2.5vw;
    position: relative;
    transition: transform 0.2s ease;
    object-fit: contain;
}

#logo:hover{
    cursor: pointer;
    content: url(../photos/expand_circle_right_50dp_E3E3E3_FILL0_wght400_GRAD0_opsz48.png);
    width: 2.5vw;
    transform: scale(0.85); 
}


#sidebar-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 22vh;
    gap: 2.5vh;
}

#settings{
    width: 3vh;
    position: relative;
    height: auto;
}

#account{
    width: 2.3vw;
    position: relative;
    height: auto;
}

#sidebar-main{
    display: flex;
    gap: 3.3vh;
    flex-direction: column;
    position: relative;
    bottom: 5vh;
}

hr{
    width: 2.5vw;
    position: relative;
    top: 10vh;
}


/* navigation top */

#top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 1px solid rgba(148, 148, 148, 0.151);
    position: relative;
    height: 0.5vw;
    width: 93%;
    left: 5.5vw;
    top: 1.3vh;
    border-radius: 3vh;
    background-color: rgba(48, 48, 48, 0.322);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.267);
    padding: 2vh 0; 
}



#search-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 20vw;
    height: 3.5vh;
    border-radius: 10vh;
    left: 33vw;
    gap: 0.5vh;

}

.search-icon{
    height: 2.5vh;
    position: relative;
    right: 30vw;
}

#search-type{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 30vw;
    height: 3.5vh;
    border-radius: 10vh;
    left: 0vw;
    background-color: rgba(255, 255, 255, 0.06);
    padding: 1vh;
    gap: 0.5vh;
    transition: outline 0.1s ease, background-color 0.05s ease-out;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    color: white;
    box-shadow: 0 0 15px rgba(187, 187, 187, 0.055);
    padding: 1.5vh;
}

#search-type:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.12);
    transition: background-color 0.05s ease-out;
}

#search-type:focus{
    outline: none;
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    transition: outline 0.1s ease;
}