body{
    margin: 0;
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
}


#side{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(148, 148, 148, 0.151);
    position: fixed;
    height: 94.5%;
    width: 3.5vw;
    left: 0.5vw;
    top: 0.7vh;
    border-radius: 3vh;
    background-color: rgba(48, 48, 48, 0.322);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.267);
    padding: 2vh 0;
    z-index: 999;
}

@keyframes sidebar-animation {
    from {
        width: 3.5vw;   
        background-color: rgba(48, 48, 48, 0.322);
        left: 0.5vw;
        border-top-left-radius: 3vh;
        border-bottom-left-radius: 3vh;
        height: 94.5%;
        top: 0.7vh;
    }
    to {
        width: 17vw;
        background-color: rgba(48, 48, 48, 1); /* Keeps it fully visible */
        left: 0vw;
        border-top-left-radius: 0vh;
        border-bottom-left-radius: 0vh;
        height: 96%;
        top: 0vh;
    }
}

#side.expanded {
    animation: sidebar-animation 0.3s ease forwards;
}

#logo-container{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 18.7vh;
    left: 0.55vw;

}

#logo{
    width: 2.5vw;
    position: relative;
    transition: transform 0.2s ease;
    object-fit: contain;
}

#logo:hover{
    cursor: pointer;
    content: url(../photos/expand_circle_right_50dp_E3E3E3_FILL0_wght400_GRAD0_opsz48.png);
    width: 2.5vw;
    transform: scale(0.85); 
}

#sidebar-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 19vh;
    gap: 2.5vh;
    left: 0.7vw;
}

#id{
    width: 3vh;
    position: relative;
    height: auto;
}

#settings{
    width: 3vh;
    position: relative;
    height: auto;
}

#account{
    width: 2.3vw;
    position: relative;
    height: auto;
}

#sidebar-main{
    display: flex;
    gap: 3.3vh;
    flex-direction: column;
    position: relative;
    bottom: 5vh;
    left: 0.75vw;
}

#home{
    width: 2vw;
    position: relative;
    height: auto;
}

#gadget{
    width: 2vw;
    position: relative;
    height: auto;
}

#notification{
    width: 2vw;
    position: relative;
    height: auto;
}

#analytics{
    width: 2vw;
    position: relative;
    height: auto;
}

#history{
    width: 2vw;
    position: relative;
    height: auto;
}

hr{
    width: 2.5vw;
    position: relative;
    top: 10vh;
}


/* navigation top */

#top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 1px solid rgba(148, 148, 148, 0.151);
    position: relative;
    height: 0.5vw;
    width: 93%;
    left: 5.5vw;
    top: 1.3vh;
    border-radius: 3vh;
    background-color: rgba(48, 48, 48, 0.322);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.267);
    padding: 2vh 0; 
    z-index: 100;
}



#search-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 20vw;
    height: 3.5vh;
    border-radius: 10vh;
    left: 30vw;
    gap: 0.5vh;

}

.search-icon{
    height: 2.5vh;
    position: relative;
    left: 4vh;        
    z-index: 2;          
    pointer-events: none;
}

#search-type{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%; 
    height: 100%; 
    border-radius: 10vh;
    left: 0vw;
    background-color: rgba(255, 255, 255, 0.06);
    padding: 1vh;
    gap: 0.5vh;
    transition: outline 0.1s ease, background-color 0.05s ease-out;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    color: white;
    box-shadow: 0 0 15px rgba(187, 187, 187, 0.055);
    padding: 1vh 1vh 1vh 4.5vh;
    box-sizing: border-box;
}

#search-type:hover{
    cursor: text;
    background: rgba(255, 255, 255, 0.12);
    transition: background-color 0.05s ease-out;
}

#search-type:focus{
    outline: none;
    border-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    transition: outline 0.1s ease;
}

.clock-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    right: 30vw;
    font-size: 1.7vh;
    color: rgb(216, 216, 216);
    font-family: "Roboto Slab", serif;
}



#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#summary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 20vh;
    width: 70vw;
    z-index: 1;
    left: 5.5vw;
    top: 13vh;
    padding: 1.5vw;
    gap: 2vh;
    padding-left: 0;
    padding-right: 1vw;
}


#active-devices{
    display: flex;
    border: 1px solid white;
    height: 25vh;
    width: 28vw;
    border-radius: 3vh;
    background-color: rgba(255, 255, 255, 0.06);
    border: 0.5px solid rgba(255, 255, 255, 0.233);
    color: white;
    box-shadow: 0 0 15px rgba(187, 187, 187, 0.11);
    padding: 1vh;
    box-sizing: border-box;
}


#in-repair{
    display: flex;
    border: 1px solid white;
    height: 25vh;
    width: 28vw;
    border-radius: 3vh;
    background-color: rgba(255, 255, 255, 0.06);
    border: 0.5px solid rgba(255, 255, 255, 0.233);
    color: white;
    box-shadow: 0 0 15px rgba(187, 187, 187, 0.11);
    padding: 1vh;
    box-sizing: border-box;

}

#out-of-date{
    display: flex;
    border: 1px solid white;
    height: 25vh;
    width: 28vw;
    border-radius: 3vh;
    background-color: rgba(255, 255, 255, 0.06);
    border: 0.5px solid rgba(255, 255, 255, 0.233);
    color: white;
    box-shadow: 0 0 15px rgba(187, 187, 187, 0.11);
    padding: 1vh;
    box-sizing: border-box;
}


#notifications{
    height: 68.5vh;
    width: 22vw;
    position: relative;
    left: 76.5vw;
    bottom: 54vh;
    border-radius: 3vh;
    background-color: rgba(255, 255, 255, 0.06);
    border: 0.5px solid rgba(255, 255, 255, 0.233);
    color: white;
    box-shadow: 0 0 15px rgba(187, 187, 187, 0.11);
    padding: 1vh;
    box-sizing: border-box;
}


#main-course{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 35vh;
    width: 70vw;
    z-index: 1;
    left: 5.5vw;
    top: 15vh;
    padding: 1.5vw;
    gap: 2vh;
    padding-left: 0;
    padding-right: 1vw;
}

#favorite-device{
    display: flex;
    border: 1px solid white;
    height: 40vh;
    width: 50%;
    border-radius: 3vh;
    background-color: rgba(255, 255, 255, 0.06);
    border: 0.5px solid rgba(255, 255, 255, 0.233);
    color: white;
    box-shadow: 0 0 15px rgba(187, 187, 187, 0.11);
    padding: 1vh;
    box-sizing: border-box;
}

#analytics-main{
    display: flex;
    border: 1px solid white;
    height: 40vh;
    width: 50%;
    border-radius: 3vh;
    background-color: rgba(255, 255, 255, 0.06);
    border: 0.5px solid rgba(255, 255, 255, 0.233);
    color: white;
    box-shadow: 0 0 15px rgba(187, 187, 187, 0.11);
    padding: 1vh;
    box-sizing: border-box;
}